<ion-header>
  <ion-navbar text-center color="purple">
    <ion-title>
       <ion-icon name="card"></ion-icon> Card Em
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="name != '' " id="results">
		<p>{{name}}</p>
		<p>HEIGHT: {{height}}</p>
		<p>AGE: {{age}}</p>
		<p>{{checkit}}</p>
	</div>

	<div *ngIf="name == ''">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/59267-200.png">
		<button ion-button full (click)="scanCard()" ion-button color="white">Scan ID Card</button>
	</div>

  <ion-item>
    <ion-label>Check if user over</ion-label>
    <ion-select [(ngModel)]="ageToCheck" multiple="false">
      <ion-option *ngFor="let age of ages" [value]="age"></ion-option>
    </ion-select>
  </ion-item>

</ion-content>
